.codex/
build-vs18/
imgui.ini
Other_Engines/
UnrealEngine/
*.user
*.suo
*.VC.db
*.VC.opendb
*.pdb
*.ilk
*.obj
*.ipch
*.tlog
*.log
*.cache
*.tmp
*.temp
*.exe
*.dll
*.lib
*.exp
*.idb
*.bin
*.pch
.vs/
CMakeUserPresets.json
